.AppExperience {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.CreateBox {
  height: auto;
  width: 550px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  /* left: 10%; */
  top: 50%;
  left: 40%;
  transform: translate(-50%, -60%);
  /* color: white; */
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgb(39, 39, 39);
}
.CreateBox input {
  height: 100%;
  width: 100%;
  margin-bottom: 16px;
}
.CreateBox img {
  height: 70px;
  width: 70px;
  margin-top: -50px;
  left: calc(50% - 25px);
  position: absolute;
}
.CreateBox h1 {
  text-align: center;
  margin: 20px;
  color: #b9a274;
}
.CreateBox label {
  color: #139ff7;
}
.CreateBox .inputField {
  height: 30px;
  border: none;
  border-bottom: 1px solid #139ff7;
  outline: none;
  color: rgb(0, 0, 0);
  background: transparent;
}
.CreateBox button {
  height: 40px;
  border-radius: 30px;
  border: none;
  color: black;
  background-color: #f1cc24;
  width: 100%;
  margin-top: 30px;
}
.CreateBox button:hover {
  background-color: #ffb120;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}
.CreateBox .lastButton {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.CreateBox .link {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  color: #ffffff;
  text-decoration: none;
  background: #bf5f00;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
}
.CreateBox .link:hover {
  color: #ffb120;
  box-shadow: 0px 0px 10px 0px black;
}

@media (max-width: 900px) {
  .CreateBox {
    height: 550px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgb(39, 39, 39);
  }

  .CreateBox .lastButton {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .CreateBox .link {
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    color: #ffffff;
    text-decoration: none;
    background: #bf5f00;
    padding: 7px 13px 7px 13px;
    border-radius: 30px;
  }
}
