.AppAdd {
  height: 100vh;
  width: 100vw;
  background: rgb(240, 239, 239);
  display: grid;
  justify-items: center;
}

.AppAdd .CreateBox {
  height: auto;
  width: 550px;
  margin-top: 10%;
  background-color: rgb(255, 255, 255);

  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgb(39, 39, 39);
}
.AppAdd .CreateBox input {
  height: 100%;
  width: 100%;
  margin-bottom: 16px;
}
.AppAdd .CreateBox .loginIcon {
  height: 70px;
  width: 70px;
  margin-top: -50px;
  left: calc(50% - 25px);
  position: absolute;
}
.AppAdd .CreateBox h1 {
  text-align: center;
  margin: 20px;
  color: #b9a274;
}
.AppAdd .CreateBox label {
  color: #139ff7;
}
.AppAdd .CreateBox .inputField {
  height: 30px;
  border: none;
  border-bottom: 1px solid #139ff7;
  outline: none;
  color: rgb(0, 0, 0);
  background: transparent;
}
.AppAdd .CreateBox button {
  height: 40px;
  border-radius: 30px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #f53d50;
  width: 100%;
  margin-top: 30px;
}
.AppAdd .CreateBox button:hover {
  background-color: #ffb120;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}

@media (max-width: 900px) {
  .AppAdd .CreateBox {
    height: 650px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgb(39, 39, 39);
  }
}
.AppAdd .errorMessage {
  float: right;
  color: #c53430;
  text-transform: capitalize;
}
.AppAdd .previewImage {
  height: 90px;
  box-shadow: 0px 0px 30px 1px rgba(241, 4, 4, 0.534);
}
.imageUploadBox {
  width: 100%;
  display: flex;
  position: relative;
  height: 110px;
}
.imageUploadBox .previewImage {
  position: absolute;
  right: 0px;
  top: 0px;
  border: 1px solid red;
}
.imageUploadBox .inputField {
  position: absolute;
  bottom: 0px;
}
.AppAdd .mini_field {
  display: flex;
  height: 80px;

  /* position: relative; */
}
.AppAdd .mini_field div {
  margin-right: 9px;
}
.AppAdd .mini_field div:last-child {
  margin-right: 0px;
}

.AppAdd .textareaField {
  width: 100%;
  height: 100px !important;
}
