.banner {
  background-image: url("../Images/banner.jpg");
  width: 100%;
  height: 400px;
  background-repeat: none;
  background-size: cover;
  background-position: center center;

  position: relative;
  margin-bottom: 20px;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 400px;
  /* width: 100vh; */
  background: #ffffff;
  opacity: 0.3;
}
.banner .baner-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f82541;
  font-size: 40px;
  transition: all 1.5s ease;
  font-family: "Courgette", sans-serif;
}
@media (max-width: 1200px) {
  .banner .baner-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f82541;
    font-size: 30px;
    transition: all 1.5s ease;
  }
}
.banner .baner-title .baner-title-text {
  background: rgba(255, 255, 255, 0.63);
  padding: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 10px 10px 10px 10px #0000007e;
  text-transform: uppercase;
}
/* Banner end */
.product-body {
  display: grid;
  justify-content: center;
}
.product-body .body-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 50px 0;
  position: relative;
  box-sizing: border-box;
  letter-spacing: 5px;
  cursor: none;
}

.product-body .body-title::first-letter {
  font-size: 60px;
  box-sizing: border-box;
  font-family: "Shizuru";
  color: #ff5c72;
}
.product-body .body-title::before {
  content: "";
  height: 3px;
  width: 200px;
  background: #f82541;
  position: absolute;
  bottom: 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  transition: all 0.5s ease;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    transition: all 0.5s ease;
  }
}

@media (max-width: 700px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    transition: all 0.5s ease;
    justify-content: center;
  }
}

.product-list .card {
  width: 178px;
  width: 268px;
  margin: 0 30px 30px 0;
}
.product-list .card img {
  cursor: pointer;
}
.card-body .card-oldPrice {
  float: right;
  margin-bottom: 5px;
}
.product-list .card-body .btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #ff5c72;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
/* Search Bar */
.searchbar-container {
  display: flex;
  position: relative;
  width: 100%;
}
.searchbar-container input {
  width: 100%;
  border: none;
  border: 1px solid #ff5c7296;
  height: 35px;
  outline: none;
  border-radius: 5px;
  padding-left: 10px;
  font-family: "Courgette", sans-serif;
  letter-spacing: 1.5px;
}

.searchbar-container input:focus ~ label,
.searchbar-container input:valid ~ label {
  transform: translateY(-20px);
  color: #ff5c72;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
}

.searchbar-container label {
  position: absolute;
  /* top: 7px; */
  left: 5px;
  color: black;
  transition: all 0.3s ease;
  pointer-events: none;
  bottom: 10px;
  letter-spacing: 5px;
}
