.AppLogin {
  margin: 0;
  padding: 0;
  background-image: url("img1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.loginBox {
  height: 450px;
  width: 350px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
}

.avater {
  height: 120px;
  top: -50px;
  position: absolute;
  left: calc(50% - 50px);
}
.loginBox h1 {
  text-align: center;
  margin-top: 80px;
  padding: 0 0 30px;
}
.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginBox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  color: white;
  height: 40px;
}
.loginBox input[type="submit"] {
  height: 40px;
  background-color: #00b8e9;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.3s;
}
.loginBox input[type="submit"]:hover {
  background-color: #ffb120;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease 0.3s;
}
.loginBox .link {
  text-decoration: none;
  color: white;
  align-content: center;
  display: block;
  text-align: center;
  padding-bottom: 5px;
}
.loginBox .link:hover {
  cursor: pointer;
  color: #ffb120;
  transition: all 0.3s;
}
