.DashboardApp {
  position: relative;
  width: 100%;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #003147;
  transition: 0.5s;
  overflow: hidden;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  cursor: pointer;
}
.navigation ul li a {
  position: relative;
  /* display: block; */
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
}
.navigation ul li:hover {
  background: #977c05;
}
.navigation ul li:nth-child(1) {
  margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover {
  background: transparent;
}
.navigation ul li a .icon {
  /* position: relative; */
  display: block;
  min-width: 64px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon .fa {
  color: white;
  font-size: 24px;
}
.navigation ul li a .title {
  display: block;
  padding: 0 10px;
  line-height: 55px;
  /* white-space: nowrap; */
}
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;
}
.main .topbar {
  border-top: 1px solid rgb(218, 216, 216);
  width: 100%;
  background: white;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px 0px #dbdbdb;
}
.main.active {
  width: calc(100% - 60px);
  left: 60px;
}
.toggle {
  position: relative;
  width: 60px;
  /* height: 50px; */
  cursor: pointer;
}
.toggle .fa {
  font-size: 30px;
  color: #f1cc24;
}
.search {
  width: 400px;
  margin: 0 10px;
}
.search label {
  width: 100%;
  position: relative;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px 0px 35px;
  outline: none;
  border: 1px solid #f1cc24;
}
.search label .fa {
  position: absolute;
  left: 15px;
  top: 0px;
  color: #f1cc24;
}

.user {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardBox {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.cardBox .card {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px;
  cursor: pointer;
}
.cardBox .card .numbers {
  font-size: 2rem;
}
.cardBox .card .cardName {
  color: #999;
  font-size: 20px;
}
.cardBox .card .iconBox {
  color: #f1dd80;
  font-size: 2rem;
}
.details {
  width: 100%;
  padding: 20px;
  padding-top: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
}
.details .recentOrders {
  min-height: 530px;
  background: white;
  padding: 20px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader .btn {
  padding: 5px 10px;
  background: #f1dd80;
  color: #003147;
  text-decoration: none;
  border-radius: 6px;
}
.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details .recentOrders table tr {
  border-bottom: 1px solid black;
}
.details .recentOrders table tbody tr:hover {
  background: #f1cc24;
  color: black;
  cursor: pointer;
}
.details .recentOrders table tbody tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tr td {
  padding: 9px 5px;
}
.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child {
  text-align: right;
}
.details .recentOrders table thead tr td:nth-child(2),
.details .recentOrders table tbody tr td:nth-child(2) {
  text-align: right;
  padding-right: 20px;
}
.details .recentOrders table thead tr td:nth-child(3),
.details .recentOrders table tbody tr td:nth-child(3) {
  text-align: center;
}
.delivered {
  background: #8de02c;
}
.inprogress {
  background: #1795ce;
}
.return {
  background: #f00;
}
.pending {
  background: #f9ca3f;
}
.recentCustomers {
  min-height: 530px;
  background: #fff;
  padding: 20px;
}
.recentCustomers table tr td .imgBx img {
  height: 40px;
}
.details .recentCustomers table tr:hover {
  background: #03a9f4;
  color: white;
  cursor: pointer;
}
.details .recentCustomers table tr td {
  padding: 7px 10px;
}
.details .recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}
.details .recentCustomers table tr td h4 span {
  font-size: 14px;
  color: #999;
}
@media (max-width: 968px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    left: 0;
    width: 300px;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    width: calc(100% - 300px);
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
