.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  padding: 0;
}
.Board {
  height: 500px;
  width: 500px;
  background-color: aquamarine;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.Row {
  border: 1px solid black;
  flex: 33%;
  display: flex;
  flex-direction: row;
}
.SquiredBox {
  height: 100%;
  width: 33%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}
