.i {
  display: flex;
  height: 100vh;
}

.i-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-left-wrapper {
  padding: 50px;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
}
.i-intro {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.i-name {
  font-size: 60px;
  margin-top: 30px;
  text-align: center;
}
.i-title {
  height: 50px;
  overflow: hidden;
  margin-top: 50px;
}
.i-title-wrapper {
  height: 100%;
  animation: move 5s ease-in-out infinite alternate;
}
@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-180px);
  }
}
.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #59b256;
  display: flex;
  justify-content: center;
}
.i-desc {
  margin-top: 30px;
  font-size: 26px;
}
.i-right {
  flex: 1;
  position: relative;
}
.i-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.i-bg {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 30% 100%, 0% 50%, 30% 0);
  background-color: #59b256;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 480px) {
  .i {
    flex-direction: column;
  }
  .i-left-wrapper {
    padding: 15px;
    height: auto;
  }
  .i-intro {
    font-size: 25px;
  }
  .i-name {
    font-size: 30px;
  }
  .i-title-item {
    font-size: 20px;
  }
  .i-desc {
    display: none;
  }
}
